<div class="container" role="main">

<div class="loginPanel">
  <div class="content">

    <div class="backLink"><a href="#">Back</a></div>

    <h1 class="mainHeading">Sign in to your account</h1>

    <div class="generalForm">
      <ol>
        <li class="inputQuestion">
          <label for="firstName">First name</label>
          <input id="firstName" type="text" placeholder="First name" />
        </li>
        <li class="inputQuestion">
          <label for="emailAddress">Email address</label>
          <input id="emailAddress" type="email" placeholder="Email address" />
        </li>
        <li class="textOnly">
          <div><a href="#">Forgot Password?</a></div>
        </li>
        <li class="submission">
          <input type="submit" value="Sign in" />
        </li>
      </ol>
    </div>

    <div class="or">or</div>

    <div class="socialMedia">
      <button class="google" type="button"><div class="icon"></div><div class="text">With Google</div></button>
      <button class="facebook" type="button"><div class="icon"></div><div class="text">Facebook</div></button>
    </div>

    <div class="noAccount">Don't have an account? <a href="#">Sign up</a></div>

  </div>

  <div class="sidePanel">
    <div class="image"></div>
    <div class="welcome">
      <div class="heading">Welcome back</div>
      <div>Log in to continue on your journey</div>
    </div>
  </div>

</div>

<!--<router-outlet></router-outlet>-->

</div>